@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 10rem;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pokeball h1 {
    color: #fff;
}

.components {
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .pokeball {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pokeball img {
    width: 3rem;
    margin-right: 1rem;
}

.pokeball img:hover {
    cursor: pointer;
}

.components .campo-pesquisa {
    display: flex;
    flex-direction: row;
}

.campo-pesquisa input {
    font-family: "Quicksand", sans-serif;
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

.campo-pesquisa button {
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    margin-left: 3% ;
}

.campo-pesquisa button:hover {
    background-color: red;
    border: 2px solid #fff;
    transition: .3s;
}

i {
    color: black;
    padding: 0.6rem;
}

i:hover {
    color: #fff;
}

.pokemons-resultado {
    height: 80vh;
    background-color: #fff;
    width: 95%;
    border-radius: 0.5rem;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form {
    width: 100%;
}

section .pokemons-card {
    width: 15rem;
    height: 20rem;
    background: linear-gradient(180deg, #ffffff 50%, #e7e7e7 50%);
    border-radius: 0.5rem;
    margin: 0.3rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 2px 4px 10px 2px;
}

.pokemons-card span {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

.pokemons-card img {
    width: 90%;
    height: 10rem;
    margin-bottom: 1rem;
}

::-webkit-scrollbar{
    background-color: #ff00007c;
    width: 0.8rem;
    border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb{
    background-color: #ffffff8c;
    border-radius: 0.3rem;
}